## Initial Setup

This may take a few minutes. We recommend to start the execution of the following cell and then perusing through the description and documentation below.

In [ ]:
import pandas as pd
import numpy as np
import gauss.engines
import gauss.ui
import tasks.hints

engine = gauss.engines.create_pandas_lite_engine(max_length=3)

# About

Gauss is a programming-by-example (PbE) system for table transformations in Pandas and R. Currently this public version supports Pandas. R will be added soon. PbE systems generally accept plain input-output examples. Prior work for table transformations such as AutoPandas and Morpheus accept input-output tables as examples and synthesize the target program. This has two main flaws - 

1. Providing a full-output table can be tedious, error-prone, and often defeats the purpose of synthesis, especially in the case of large tables.
2. A lot of rich information is thrown away. For example, the type of aggregation being performed, something which is known to the user of the system.

Gauss extends the input-output example modality for table transformations, by providing a rich interface to the user to construct **partial outputs** or partial tables, using an array of operators covering simple operations such as addition subtraction. Gauss transparently captures the user interaction and generalizes the partial output to synthesize better code, faster.

# Introduction to the Interface

## Anatomy of the Interface

<img src="imgs/GaussUI.png" width="70%" height="70%">

## Basic Controls

For all the instructions below, if you are on a Windows system, replace ⌘(Cmd) key with (Ctrl).

### Cell Selection

* **Single Cell** - Clicking on a cell selects it. Clicking it again will de-select it.
* **Multiple Cells** - There are two distinct ways of selecting multiple cells:
    - **Mouse Drag**: Click the mouse down on a cell and drag and release the mouse over another cell. A continuous 2-D range will be created between the two cells and clear any existing ranges.
    - **⌘(Cmd) + Mouse Drag**: Holding ⌘(Cmd) key while creating a range using mouse drag will create a new range selection and keep any existing ranges. This is useful for selecting cells not adjacent to each other. It also imposes an order of selection which is useful for some binary operations.
    
<table style="width:80%">
    <tr>
        <td>
            <figure>
                <img src="gifs/Simple-Selection.gif" class="images">
                <figcaption style="text-align: center; font-size: large">Selecting Single Cell</figcaption>
            </figure>
        </td>
        <td>
            <figure>
                <img src="gifs/Range-Select.gif" class="images">
                <figcaption style="text-align: center; font-size: large">Selecting Cell Ranges</figcaption>
            </figure>
        </td>
        <td>
            <figure>
                <img src="gifs/Multiple-Range-Select.gif" class="images">
                <figcaption style="text-align: center; font-size: large">Selecting Multiple Cell Ranges</figcaption>
            </figure>
        </td>
    </tr>
</table>

### Copy-Pasting

In general you can only copy and paste from the input to the output. The number of cells being pasted to should match the copied content on the clipboard. So the system will complain if, say, 4 values are being pasted onto 3 cells. The following instructions assume the correct number of cells have been copied to the clipboard.

* **Single Cell** - Select a cell in the output, and press ⌘(Cmd)-V to paste the value.
* **Multiple Cells** - There are two distinct ways of pasting multiple cells:
    - **Specify All Cells**: Select the right number of cells, in the desired order if necessary (by holding ⌘(Cmd) and clicking cells), and press ⌘(Cmd)-V to paste the values.
    - **Specify Start Cell**: If a single cell is selected, the system pastes all the values starting from that cell with the shape determined as follows:
        - If the copied content is a continuous 2-D range, the shape is retained.
        - The cells are pasted in a single vertical column.
* When pasting multiple cells, the order of selection of cells matter. The first value is copied to the first cell selected, the second value to the second cell...

<table style="width:80%">
    <tr>
        <td>
            <figure>
                <img src="gifs/Simple-Copy-Paste.gif" class="images">
                <figcaption style="text-align: center; font-size: large">Copy-Paste Single Cell</figcaption>
            </figure>
        </td>
        <td>
            <figure>
                <img src="gifs/Multiple-Copy-Paste.gif" class="images">
                <figcaption style="text-align: center; font-size: large">Copy-Paste Multiple Cells</figcaption>
            </figure>
        </td>
        <td>
            <figure>
                <img src="gifs/Copy-Paste-Order-Matters.gif" class="images">
                <figcaption style="text-align: center; font-size: large">Selection Order Matters</figcaption>
            </figure>
        </td>
    </tr>
</table>

### Performing Operations

The steps for performing operations such as aggregations, transformations, binary operations, string operations, filtering and deletion are as follows - 
* Select the target cells using the cell-selection mechanism above.
* Press right-click to access the context menu.
* Operations are bucketed in various categories. Select the one you want by accessing the appropriate category.
    - Hovering over an operation will activate a tooltip describing the operation.
* Once the operation is clicked, the result is stored into the clipboard.
* The result(s) can be pasted into the output using the same pasting mechanism described above.

<table style="width:100%">
    <tr>
        <td>
            <figure>
                <img src="gifs/Simple-Mean-Operation.gif" class="images">
                <figcaption style="text-align: center; font-size: large">Aggregation</figcaption>
            </figure>
        </td>
        <td>
            <figure>
                <img src="gifs/Binary-Operations.gif" class="images">
                <figcaption style="text-align: center; font-size: large">Binary Operations</figcaption>
            </figure>
        </td>
        <td>
            <figure>
                <img src="gifs/Cell-Deletion-Operation.gif" class="images">
                <figcaption style="text-align: center; font-size: large">Marking Cells for Deletion</figcaption>
            </figure>
        </td>
    </tr>
</table>

## UI Case Study Example 
https://stackoverflow.com/questions/62280527/remove-redundant-duplicate-colums-from-data-frame-after-pivot-wider

In [2]:
from io import StringIO
csv_str = """
      id1   id2       x     y
    1 A     a         5     9
    2 A     b         6     9
    3 A     c         2     9
    4 B     a         5     3
    5 B     b         3     3
    6 B     c         3     3
    7 C     a         4     5
    8 C     b         1     5
    9 C     c         4     5
   10 D     a         4     9
   11 D     b         3     9
   12 D     c         4     9"""
df = pd.read_csv(StringIO(csv_str), sep='\s+')
df

   id1 id2  x  y
1    A   a  5  9
2    A   b  6  9
3    A   c  2  9
4    B   a  5  3
5    B   b  3  3
6    B   c  3  3
7    C   a  4  5
8    C   b  1  5
9    C   c  4  5
10   D   a  4  9
11   D   b  3  9
12   D   c  4  9

In [3]:
gauss.ui.start_synthesis([df], engine=engine)

Output()

## Sample Tasks

### Task #1

##### Description
Given an input table with populations for each city in a region:
```
   Region             City  Population
Misthalin       Lumbdridge          72
 Kandarin         Ardougne         950
 Kandarin         Catherby          32
Misthalin          Varrock        1744
Misthalin  Draynor Village          29
```
Use Gauss to write code to produce a table showing the total population for each region, i.e.:
```
      Region  Population
    Kandarin         982
         ...         ...

```

In [ ]:
input_table = pd.DataFrame({'Region': ['Misthalin', 'Kandarin', 'Kandarin', 'Misthalin', 'Misthalin'], 
                            'City': ['Lumbdridge', 'Ardougne', 'Catherby', 'Varrock', 'Draynor Village'],
                            'Population': [72, 950, 32, 1744, 29]})
input_table

In [ ]:
gauss.ui.start_synthesis([input_table], engine=engine)
tasks.hints.setup('task-1')

### Task #2

##### Description

Given a table of low and high prices for each product:
```
 Product  Low  High
   Phone   40    90
      TV   50    80
 Speaker   10    70
Computer  100   160
```
Produce a table that gives the price range (difference between low and high price) for each product. That is, something along the lines of the following, where blank lines represent omitted cells. The output should *NOT* contain the `Low` and `High` columns
```
Product Range 
  Phone    50
    ...   ...  
```

In [ ]:
input_table = pd.DataFrame({
    'Product': ['Phone', 'TV', 'Speaker', 'Computer'], 
    'Low': [40, 50, 10, 100], 
    'High': [90, 80, 70, 160]
})
input_table

In [ ]:
gauss.ui.start_synthesis([input_table], engine=engine)
tasks.hints.setup('task-2')

### Task #3

Given an input table with a column of statistics for each year:
```
     Metric      Y1      Y2      Y3  
      means  0.5200  0.5700  0.6000
     stddev  0.1328  0.1321  0.1303
upper_range  0.6600  0.7000  0.7300
lower_range  0.3900  0.4400  0.4700
```

Use Gauss to produce code that transforms the table such that there is a `year` column containing `Y1`, `Y2`, and `Y3`, and `means`, `stddev`, `upper_range`, and `lower_range` become the new columns. Something along the lines of the following, where blanks represent omitted cells. You can think of this as a transpose, but not quite.
```
     year  lower_range  means  stddev  upper_range
       Y1                                         
       Y2                                         
       Y3                                                                                
```

In [ ]:
input_table = pd.DataFrame({
    'Metric': ['means', 'stddev', 'upper_range', 'lower_range'], 
    'Y1': [0.52, 0.1328, 0.66, 0.39],
    'Y2': [0.57, 0.1321, 0.7, 0.44], 
    'Y3': [0.6, 0.1303, 0.7303, 0.4700], 
})
input_table

In [ ]:
gauss.ui.start_synthesis([input_table], engine=engine)
tasks.hints.setup('task-3')

### Task #4

Given an input table containing some measurements for plants as follows:
```
  Plant  Day1_Week1  Day7_Week1  Day1_Week2  Day7_Week2
  Snake          10          40          50          45
   Jade          20          15          25          30
  Pilea          30          25          35          45
```

Use Gauss to write code that produces a table where the days are stacked in one column, and the weeks are stacked in another column as follows:

```
 Plant 
 Snake  Day1  Week1  10
 Snake  Day7  Week2  50
 Snake  Day1  Week1  40
 Snake  Day7  Week2  45
   ...   ...    ...
```

In [ ]:
input_table = pd.DataFrame({
    'Plant': ['Snake', 'Jade', 'Pilea'],
    'Day1_Week1': [10, 20, 30],
    'Day7_Week1': [40, 15, 25],
    'Day1_Week2': [50, 25, 35],
    'Day7_Week2': [45, 30, 45],
})
input_table

In [ ]:
gauss.ui.start_synthesis([input_table], engine=engine)
tasks.hints.setup('task-4')

### Chaining of Operations

Suppose we have a table as follows:
```
  Person  TimeOfDay   Score
    Alex         AM      30
    Alex         PM     100
  Ankita         AM     112
  Ankita         PM      57
```

We want to transform the table such that there is a single column containing values in the format `Person_MaxScore` as shown below:

```
Score
Alex_100
Ankita_112
```

For this, we need to chain operations together. Specifically, we first take the max of the scores for the time of day, and then concatenate it with the person's name. Run the cell below to see the video demonstrating this. Feel free to try it out yourself!

In [1]:
from IPython.display import display, HTML
display(HTML("""<video width="100%" controls><source src="./gifs/ChainingOperationsDemo.mp4" type="video/mp4"></video>"""))

In [ ]:
input_table = pd.DataFrame({
    'Person': ['Alex', 'Alex', 'Ankita', 'Ankita'],
    'TimeOfDay': ['AM', 'PM', 'AM', 'PM'],
    'Score': [30, 100, 112, 57],
})
input_table

In [ ]:
gauss.ui.start_synthesis([input_table], engine=engine)